.blur-modal-config { 
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.329);
    z-index: 5;

}

.modal-config {
    box-sizing: border-box;
    position: absolute;
    left: 50%;

    background-color: white;
    color: rgb(0, 0, 0);

    border-radius: 10px;
    
    z-index: 10;

    width: 80%;

    animation-name: modal-transition;
    animation-duration: 200ms;

    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

@keyframes modal-transition {
    0% {
        opacity: 0;
        top: 0;
    }
    100% {
        opacity: 1;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@keyframes modal-transition-reverse {
    0% {
        opacity: 1;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        top: 0;
    }
    
}

.blur-modal-config.hide, .modal-config.hide {
    display: none;
}

.h1-config {
    font-size: 30px;
    font-weight: 700;

    color: rgb(48, 48, 48);
    

    margin: 30px 0px 60px 0px;
    text-align: center;

    
}

.h2-config {
    font-size: 20px;
    font-weight: 600;

    color: rgb(88, 88, 88);

    padding: 10px;
    
    text-align: center;
}

.config {
    font-family: Arial, Helvetica, sans-serif;

    color: rgba(0, 0, 0, 0.39);

    text-align: center;

    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pomo-config-label, .short-config-label, .long-config-label {
    text-align: center;
    padding: 5px;
}

.inputs-options {
    background-color: rgba(128, 128, 128, 0.199);
    color: rgb(97, 97, 97);

    border: 0;

    padding: 3px;
    margin: 0 20px;

    max-width: 2em;
    font-size: 1.2em;

}

#save-config {
    display: block;

    margin: 30px auto;
    padding: 20px;

    font-size: 2em;

    border: 0;
    border-radius: 10px;

    cursor: pointer;

}

#save-config:hover {
    background-color: rgba(128, 128, 128, 0.199);
}

.block-pomo-config,
.block-short-config,
.block-long-config {
    left: 35px;
    margin: auto;
}

.block-cont-config {
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(0, 0, 0, 0.39);

    margin: 20px auto;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}






