:root {
    --background: #be4040;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

html {
    height: 100vh;
}

body {
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);

}

header {
    background-color: rgba(0, 0, 0, 0.26);

    display: flex;
    justify-content: center;
    align-items: center;


    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.315);

    padding: 5px 0px 10px 0px;
    
    font-size: 2em;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    height: 50px;
}

.logo {
    margin: 10px;
}

.config-img {
    width: 50px ;

    display: block;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;


    filter: opacity(.6);

    border-radius: 20px;

    cursor: pointer;
}

.config-img:hover {
    filter: opacity(1);
}

.img {
    width: 32px;
    margin: -5px 0px;
}

#cont-pomo {
    text-align: center;

    font-size: 30px;
}


