@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --background: #be4040;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

* {
    

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
}


body {
    height: 100vh;
    color: white;
    overflow-x: hidden!important;
    background-color: var(--background);

}

header {
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;

    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.315);

    padding: 5px 0px 10px 0px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
}

.logo {
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
}



.config-img {
    display: block;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;


    border-radius: 20px;

    cursor: pointer;
}

.config-img:hover {
    opacity: .5;
}

.info-img {
    width: 50px ;

    display: block;

    margin-right: 10px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 5px;

    cursor: pointer;
}

.info-img:hover {
    opacity: .5;
}

.logo-img {
    width: 26px;
    margin: -5px 0px;
}


.focus, #cont-pomo {
    text-align: center;

    margin: 10px 0px 0px 0px;

    font-size: 2em;
}



