.blur-modal-info { 
    position: absolute;
    width: 100vw;
    height: 114vh;
    top: 0;

    padding: 0 20px;

    background: rgba(0, 0, 0, 0.329);
    z-index: 3253;

}

.modal-info {
    background-color: rgba(0, 0, 0, 0.89);
    color: rgb(255, 255, 255);
    opacity: 1;

    box-sizing: unset;

    overflow-wrap: break-word;

    position: relative;

    left: 50%;
    
    padding: 20px;

    border-radius: 10px;

    z-index: 10;

    max-width: 700px;

    animation-name: modal-transition;
    animation-duration: 200ms;

    top: 50%;
    transform: translate(-50%, -50%);
    
}

.blur-modal-info.hide, .modal-info.hide {
    display: none;
}

.modal-info > p {
    text-align: left;

    font-size: 1.7em;
}

.tomato {
    display: block;
    margin: 10px auto;
}

.exit-info {
    width: 50px;
    height: 50px;

    background-color: red;
    color: white;

    cursor: pointer;

    border-radius: 50%;
    border: 0;

    font-size: 1.7em;

    display: block;
    position: absolute;

    left: 97%;
    top: -5%;
}

